    <div id="contacto">
      <form action="" method="post" enctype="text/plain">
          Nombre: <br>
          <input type="text" name="name"> <br>
          E-mail: <br>
          <input type="email" name="mail"> <br>
          Area: <br>
          <select name="">
              <option value="1">Consultas</option>
              <option value="2">Cotización</option>
              <option value="3">Pedido/Reserva</option>
          </select> <br>
          
          <tr>
            Mensaje: <br>
            <textarea name="comentario" id="" cols="50"></textarea> <br>
            <button type="submit" class="btn btn-primary">Enviar</button>
            <button type="reset" class="btn btn-primary">Limpiar</button>
            <button class="btn btn-primary"><a href="index.hbs">Volver</a></button>
          </tr>
​      </form>
  </div>