<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> estilos}}
    <title>ErCompleto</title>
</head>
<body>
    {{> header}}
    {{>navbar}}
    <!--inicio contenido-->
    {{> formulario}}
    <!--fin contenido-->
    {{> footer}}
    {{> codigo}}
</body>
</html>



