<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    {{> estilos}}
</head>
<body>
    {{> header}}
    {{> navbar}}

<div class="container">
 
    <h1 class="" style="text-align: center;">Bienvenido a ErCompleto</h1>
        <p class="" style="text-align: center;">Los mejores completos de Chil.</p>
    </div>
    <div class="container d-flex justify-content-center">
        <img src="image/index.jpg" alt="">

    </div>
</div>
{{> footer}}
{{> codigo}}
</body>
</html>
