{{> estilos}}
{{> header}}
{{>navbar}}

<div class="container">
 
    <h1 class="" style="text-align: center;">Bienvenido ErCompleto</h1>
        <p class="" style="text-align: center;">Esta es la página de inicio.</p>
    </div>
    <div class="container d-flex justify-content-center">
        <img src="image/index.jpg" alt="">

    </div>
</div>
{{> footer}}
{{> codigo}}
