<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> estilos}}
</head>
  <body>  {{> header}}
{{>navbar}}
    <h1>Nuestros productos</h1>

        {{> producto}}


    {{> footer}}
{{> codigo}}
  </body>
</html>